/**
 * All of the CSS for your Admin-specific functionality should be
 * included in this file.
 */

.media_page_cf-images div.wrap {

  .spinner {
    margin-top: -3px;
    float: none;
  }

  /**
   * Buttons
   */
  .cf-images-button-red {
    background-color: #DC3232;
    border-color: #DC3232;
    color: #FFFFFF;

    &:hover {
      background-color: #B32D2E;
      border-color: #B32D2E;
    }
  }

  /**
   * Progress bar
   */
  .cf-images-progress {
    display: none;

    .cf-images-progress-bar {
      height: 20px;
      width: 100%;
      border: 1px solid #191E23;
    }

    .cf-images-progress-filler {
      background: #0073AA;
      height: 100%;
      transition: width .2s ease-in;
    }
  }

}

/**
 * Media library styles (list view).
 */
.upload-php .fixed .column-cf-images {
  width: 10%;

  .spinner { margin: 0 10px; }
}
