/**
 * All of the CSS for your Admin-specific functionality should be
 * included in this file.
 */

.media_page_cf-images div.wrap {

  .spinner {
    margin-top: -3px;
    float: none;
  }

}

/**
 * Media library styles (list view).
 */
.upload-php .fixed .column-cf-images {
  width: 10%;
}
