/**
 * Media library styles (list view).
 */
@import "@picocss/pico/scss/variables";
@import "@picocss/pico/scss/themes/default";
@import "@picocss/pico/scss/utilities/tooltip";

.column-cf-images [data-tooltip],
.cf-images-grid-status [data-tooltip] {
  border: 1px solid #2c3338;
  display: inline-block;
  height: 24px;
  margin-bottom: -4px;
  margin-right: -4px;
  padding: 5px;
  width: 24px;

  &:not(span):not([disabled="disabled"]):hover {

    img {
      transform: scale(1.2);
      transition: transform 0.3s ease-in-out;
    }
  }

  &[disabled="disabled"] {
    background: #f6f7f7;
    border-color: #dcdcde;
    cursor: default;

    img {
      opacity: 0.3;
    }
  }

  & + [disabled="disabled"] {
    border-left-color: #2c3338;
  }

  &:last-of-type {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.upload-php .fixed .column-cf-images {
  width: 10%;

  .spinner {
    background-size: 16px;
    margin: 0 30px 0 0;
  }
}

.upload-php .cf-images-grid-status {
  span.spinner.is-active {
    font-size: 13px;
    margin: 0;
    min-width: 20px;
    padding: 0;
    text-align: left;
  }

  span.spinner.is-active {
    background-size: 17px 17px;
    margin-right: 7px;
  }
}
