/**
 * Media library styles (list view).
 */
@import "@picocss/pico/scss/variables";
@import "@picocss/pico/scss/themes/default";

.cf-images-status {
  @import "@picocss/pico/scss/components/dropdown";

  // Action dropdown.
  ul:first-of-type {
    margin: 5px 0 0;

    & li[role="list"] {
      & > a:after {
        margin-top: -2px;
      }

      & > ul[role="listbox"] {
        margin-top: 0;
        min-width: 210px;

        & li {
          cursor: pointer;
          width: auto;

          & img {
            float: left;
            margin: 2px 5px 0 0;
            width: 15px;
          }
        }
      }
    }
  }
}

.upload-php .fixed .column-cf-images-status {
  width: 12%;

  .spinner {
    background-size: 16px;
    margin: 0 30px 0 0;
  }
}

.upload-php .setting.cf-images {
  & .cf-images-status {
    align-items: start;
    display: flex;
    flex-direction: column;
  }

  & span.status {
    display: flex;
    padding: 0;
  }

  span.spinner.is-active {
    font-size: 13px;
    margin: 0;
    min-width: 20px;
    padding: 0;
    text-align: left;
  }

  span.spinner.is-active {
    background-size: 17px 17px;
    margin-right: 7px;
  }
}
