@charset "utf-8";

/**
 * Local overrides.
 */
//$blue: #4597de;
$blue: hsl(207, 70%, 57%);
$switch-background-active: $blue;

@use "bulma/sass/utilities" with (
	$primary: $blue,
	$blue: $blue,
	$turquoise: $blue,
	$radius-small: 0.125rem,
);
@use "bulma/sass/base";
@use "bulma/sass/grid/columns";
@use "bulma/sass/elements/box";
@use "bulma/sass/elements/content";
@use "bulma/sass/elements/title" with (
	$title-weight: 600
);
@use "bulma/sass/elements/icon";
@use "bulma/sass/elements/notification";
@use "bulma/sass/elements/progress";
@use "bulma/sass/form/shared";
@use "bulma/sass/form/input-textarea";
@use "bulma/sass/form/select";
@use "bulma/sass/form/tools";
@use "bulma/sass/components/card";
@use "bulma/sass/components/menu";
@use "bulma/sass/helpers";
@use "bulma/sass/layout/container";
@use "bulma/sass/layout/hero";
@use "bulma/sass/layout/level";
@use "bulma/sass/layout/media";

@use "bulma/sass/themes";
@use "./css/switch";
@use "./css/tooltip";

/* Fix for white padding at the bottom */
#wpcontent {
	background-color: #f0f0f1;
}

.cf-images {
	@import "bulma/sass/elements/button";

	.cf-plugin-title {
		line-height: 1.3em;
	}

	// Make cards same height.
	& .card {
		height: 100%;
		margin-top: revert;
		padding: revert;
	}

	& .column {
		box-sizing: border-box;
	}

	// Override WordPress sizes.
	.content.is-normal {

		& p {
			font-size: 1rem;
		}
	}

	select {
		background: none !important;
	}

	// Fix bulma-switch issues.
	& .switch[type=checkbox]+label {
		padding-top: 0;
	}

	& input[type="checkbox"]:disabled,
	& input[type="checkbox"]:disabled:checked:before {
		display: none;
	}

	& .cf-images-logs {
		max-height: 400px;
		overflow-y: scroll;
		text-wrap: auto;
	}

	// Bulma overrides.
	.menu-list a {
		&:not(.is-active) {
			background-color: transparent;

			&:hover {
				background-color: hsl(0, 0%, 96%);
			}
		}

		&.is-active {
			color: white;
		}
	}

	.button.is-primary {
		color: white;

		&:hover {
			background-color: hsl(207, 61%, 50.5%);
		}
	}

	.button.is-ghost {
		--bulma-button-ghost-color: hsl(207, 70%, 57%);
	}

	.button.is-small {
		--bulma-button-weight: 400;
	}

	.notification.is-danger {
		color: white;
	}
}

// Remove extra WordPress stuff.
.media_page_cf-images {

	& #wpbody-content {
		padding-bottom: 0;
	}

	& #wpfooter {
		display: none;
	}
}


